


/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* MAIN BANNER */

.main-banner {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.company {
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.right li {
  display: inline;
  padding-right: 2rem;
}

.mobile {
  display: none;
}

.company img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.headline {
  position: relative;
  top: 10rem;
  left: 22rem;
  padding: 1.5rem 5rem;
  background-color: white;
  color: black;
  width: 45%;
}

.headline span {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

/*  PRODUCTS SECTION */
.products {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.product {
  width: 20%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
}

.product-image img {
  max-width: 5rem;
}

.description {
  display: block;
  padding: 0.5rem;
  text-align: center;
}

/* INFORMATION SECTION */

.information {
  display: flex;
  margin-bottom: 5rem;
  margin-left: 5%;
}

.info {
  width: 35%;
  display: flex;
  flex-flow: column nowrap;
  margin-right: 5rem;
}

.infoheader {
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
  padding: .5rem 0 .5rem 1.25rem;
  color: white;
}

.infotext {
  display: block;
}

/* FOOTER SECTION */

footer {
  background-color: azure;
  padding: 4rem 0;
}

footer img {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}

/* MEDIA BREAKPOINT 1207PX TABLET */

@media only screen and (max-width: 980px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
    }

  .main-banner {
    height: 22rem;
  }


  .headline {
    position: relative;
    top: 5rem;
    left: 22rem;
    padding: 0.75rem 4rem;
    width: auto;
  }

  .headline span {
    font-size: 1.33rem;
  }
}

/* MEDIA BREAKPOINT 754 PX MOBILE */

@media only screen and (max-width: 754px) {

  .main-banner {
    height: 17rem;
  }

  .company {
    top: 0;
  }

  .headline {
    position: relative;
    top: 9rem;
    left: 0rem;
    text-align: center;
  }

  .headline span {
    font-size: 1rem;
    padding: 1rem 0;
    width: 100%;
  }

  .mobile {
    display: inline;
  }

  .large {
    display: none;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
  }

  .product {
    width: 20%;
    margin-bottom: 1.54rem;
  }

  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .product-image img {
    max-width: 4rem;
  }

  .information {
    flex-direction: column;
  }

  .info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 5rem;
  }

  .infoheader {
    width: 100%;
    text-align: center;
  }

  .infotext {
    display: block;
    margin-bottom: 4rem;
  }

  footer img {
    margin: 0 auto;
  }

}
